<div class="row">
    <div class="span6">
<p>
<a class="btn" href="http://bbs.shopex.cn/" target="_blank">获取使用帮助</a> 
<a class="btn" href="http://bbs.shopex.cn/" target="_blank">报告问题</a>
</p>

<p>
版本 <{$version[0]}>
<div id="version" style="height:120px;"></div>
</p>

<p>
Betternow<br />
版权所有 &copy; 2003-2012 <a href="http://www.shopex.cn/"
    target="_blank">ShopEx</a>. 保留所有权利.
</p>
</div>

<div class="span6">
    <fieldset>
        <legend>授权信息</legend>
        <{if $licence.0 eq "free_user"}>
        免费体验用户
        <{/if}>
    </fieldset>
</div>
</div>
